.carLi{
    min-height: 300rpx;
    box-sizing: content-box;
    background: #fff;
    border-radius: 10rpx;
     .carTop{
        justify-content: space-between;
        align-items: center;
        color: #333333;
        font-size: 28rpx;
        border-bottom: 1px solid #DDDDDD;
    }
    .carTime{
        font-size: 30rpx;
    }
    .carData{
        justify-content: space-between;
        font-size: 30rpx;
        height: 170rpx;
        .img{
            width: 160rpx;
            height: 160rpx;
            border-radius: 20rpx;
        }
       
        .carData_text{
            width:450rpx;
            .paddingTB20{
                font-size: 28rpx;
                //height: 120rpx;
            }
            .flex{
                justify-content: space-between;
                align-items: center;
            }
            .textNub{
                margin-top: 80rpx;
            }
        }
    }
}
.bottb{
    border-bottom: 1rpx solid #DDDDDD;
}
.noList{
    justify-content: center;
    align-items: center;
    height: 300rpx;
    color: #8BABD1;
    font-size: 36rpx;
}
.textContBox{
    font-size: 30rpx;
    justify-content: space-between;
    .textCont{
        width: auto;
    }
}
.textCont{
    width: 100%;
    justify-content: flex-end
}
.noOrder{
    justify-content: flex-end;
    align-items: center;
    font-size: 34rpx;
    .noOrder_btn{
        font-size: 28rpx;
        width: 196rpx;
        height: 76rpx;
        border-radius: 40rpx;
        box-sizing: border-box;
        text-align: center;
        line-height: 76rpx;
        
        
    }
    .noOrder_btn1{
        border: 1rpx solid #666666;
        color: #666666;
    }
    .noOrder_btn2{
        border: 1rpx solid #FF4852;
       color: #FF4852;
    }
}