@import url('./iconfont.css');
@import url('./ddIco.css');
page{
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}
.flexCenten{
    align-items: center;
}
.flex_col{
	display: flex;
	flex-direction: column;
}
.fixed{
    position: fixed;
}

// 缩小
.scale75{
    transform: scale(0.75);
}

// 内边距
.padding5{
    padding: 5rpx;
}
.padding10{
    padding: 10rpx;
}
.padding20{
    padding: 20rpx;
}
.padding30{
    padding: 30rpx;
}
.paddingT5{
    padding-top: 5rpx;
}
.paddingT10{
    padding-top: 10rpx;
}
.paddingT15{
    padding-top: 15rpx;
}
.paddingT20{
    padding-top: 20rpx;
}
.paddingT40{
    padding-top: 40rpx;
}
.paddingTB20{
    padding-top: 20rpx;
    padding-bottom: 20rpx;
}
.paddingTB25{
    padding-top: 25rpx;
    padding-bottom: 25rpx;
}
.paddingTB30{
    padding-top: 30rpx;
    padding-bottom: 30rpx;
}
.paddingTB10{
    padding-top: 10rpx;
    padding-bottom: 10rpx;
}
.paddingRL40{
    padding-right: 40rpx;
    padding-left: 40rpx;
}
.paddingRL30{
    padding-right: 30rpx;
    padding-left: 30rpx;
}
.paddingRL10{
    padding-right: 10rpx;
    padding-left: 10rpx;
}
.paddingRL20{
    padding-right: 20rpx;
    padding-left: 20rpx;
}
.paddingL20{
    padding-left: 20rpx;
}
.paddingL10{
    padding-left: 10rpx;
}
.paddingL9{
    padding-left: 9rpx;
}
.paddingB20{
    padding-bottom: 20rpx;
}
.paddingB10{
    padding-bottom: 10rpx;
}

// 外边距
.marginB4{
    margin-bottom: 4rpx;
}
.marginT10{
    margin-top: 10rpx;
}
.marginT20{
    margin-top: 20rpx;
}
.marginB10{
    margin-bottom: 10rpx;
}
.marginB20{
    margin-bottom: 20rpx;
}
.marginB30{
    margin-bottom: 30rpx;
}
.marginT30{
    margin-top: 30rpx;
}
.marginRL10{
    margin-right: 10rpx;
    margin-left: 10rpx;
}
.marginRL30{
    margin-right: 30rpx;
    margin-left: 30rpx;
}
.marginR30{
    margin-right: 30rpx;
}
.marginR20{
    margin-right: 20rpx;
}
.marginR10{
    margin-right: 10rpx;
}
.marginR25{
    margin-right: 25rpx;
}
.marginL80{
    margin-left: 80rpx;
}
.mar_t10{
    margin-top: 20rpx;
}
// 文字
.fontFamilyST{
    font-family: STHeiti;
}
.fontSize40{
    font-size: 40rpx;
}
.fontSize36{
    font-size: 36rpx;
}
.fontSize34{
    font-size: 34rpx;
}
.fontSize32{
    font-size: 32rpx;
}
.fontSize30{
    font-size: 30rpx;
}
.fontSize28{
    font-size: 28rpx;
}
.fontSize26{
    font-size: 26rpx;
}
.fontSize25{
    font-size: 25rpx;
}
.fontSize24{
    font-size: 24rpx;
}
.fontSize22{
    font-size: 22rpx;
}
.fontSize20{
    font-size: 20rpx;
}
.fontWight{
    font-weight: bold;
}
.textL{
    text-align: left;
}
.textC{
    text-align: center;
}
.img{
    width: 100%;
}
.colorRed{
    color:#FF4852
}
.colorH{
    color: #D6A972;
}
.colorL{
    color: #FF4852;
}
.color999{
    color: #999999;
}
.color000{
    color: #000000;
}
.color333{
    color: #333333;
}
.color666{
    color: #666666;
}
.colorDDD{
    color: #DDDDDD;
}
.colorADAD{
    color: #ADADAD;
}
.width60{
    width: 60rpx;
}
// 按钮
.saveBtn{
    width: 320rpx;
    height: 96rpx;
    background: linear-gradient(180deg, #FF6D75 0%, #FF4852 100%);
    box-shadow: 0px 6rpx 14rpx rgba(255, 109, 117, 0.52);
    text-align: center;
    line-height: 96rpx;
    color: #fff;
    border-radius: 48rpx;
    margin: 100rpx auto;
}
.flex{
    display: flex;
}
.flex_1{
    flex: 1;
}
// 客服
.userCall{
    width: 100rpx;
    height: 100rpx;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 160rpx;
    right: 40rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3500;
    box-shadow: 0rpx 0rpx 10rpx 0 rgba(89, 89, 89, 0.35);
}
.userCall button{
    display: flex;
}
.userCall img{
    width: 80rpx;
    height: 70rpx;
    border-radius: 50%;
}
.bottText{
    height: 100rpx;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottText .text_border{
    border-bottom: 1rpx solid #DDDDDD;
    flex: 1;
}
.bottText .text{
    text-align: center;
    color: #9D9D9D;
    flex: 2;
}

::-webkit-scrollbar {
    display:none;
    width:0;
    height:0;
    color:transparent;
}

.HeaderBorderTop{
    border-top: 1rpx solid #B2B2B2;
}