.flex{
    display: flex;
}
.paddingRL40{
    padding: 0 40rpx;
}
.paddingRL20{
    padding: 0 20rpx;
}
.paddingL20{
    padding-left: 20rpx;
}
.marginT10{
    margin-top: 10rpx;
}
.fontSize36{
    font-size: 36rpx;
}
.fontWight{
    font-weight: bold;
}
.textL{
    text-align: left;
}