@font-face {
  font-family: "iconfont"; /* Project id 2628113 */
  src: url('//at.alicdn.com/t/font_2628113_7qw40q2za0q.woff2?t=1625297813731') format('woff2'),
       url('//at.alicdn.com/t/font_2628113_7qw40q2za0q.woff?t=1625297813731') format('woff'),
       url('//at.alicdn.com/t/font_2628113_7qw40q2za0q.ttf?t=1625297813731') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e602";
}

.icon-gouxuan:before {
  content: "\e60f";
}

.icon-guanbi:before {
  content: "\e638";
}

.icon-sanjiaoleft:before {
  content: "\e6b6";
}

.icon-sanjiaoright:before {
  content: "\e6b7";
}
